<div class="game-wrapper">
    <div class="background-image"></div>
    <section class="game-panel">
        <div class="board">
            <div class="game-board game-board game-4-board">
                <div class="grid-board">
                    <div class="grid-tile" *ngFor="let item of grid; let i = index; trackBy: i">
                    </div>
                </div>
                <div class="tile-board">
                    <app-game-tile *ngFor="let tile of tiles; let i = index; trackBy: tile?.Id"
                                   [tile]="tile"></app-game-tile>
                </div>
            </div>
        </div>
    </section>
</div>
